

.image1{
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 300px;
    width: auto;
}

.contain2{
    display: block;
    margin: auto;
    padding-left: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 25;
    bottom: 0;

}

.button1 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.button1:hover {
    background-color: #3e8e41;
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.3);
}

.input-field {
    background-color: #fcf3f3;
    border: solid;
   
    color: #ececec;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.1);
}

.input-field:focus {
    outline: none;
    background-color: #3e8e41;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}
